{include file='public/header' title=$title/}
<title>关于我们</title>
<link rel="stylesheet" href="__CSS_PATH__about.css">

    <!-- banner开始 -->
    <!-- 公共部分结束 -->
    <div class="container">
        <div class="row">

            <div class=" about-box  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="__IMG_PATH__about/BannerTwo.jpg" alt="">
            </div>
            <!-- banner结束 -->
            <!-- 关于我们开始 -->
            <div class="about-wz  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wz-left col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="about-gywm col-lg-2 col-md-3 col-sm-3 col-xs-5">
                    <div class="about-gywm-wz  ">{$currnav.nname}</div>
                    <div class="about-gywm-Ab  ">{$currnav.ename}</div>
                </div>
                <div class="about-wz-right col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
            <!-- 关于我们结束 -->
            <!-- 关于我们文字开始 -->
            <!-- <div class="about-left col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
            <div class="about-left-l col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-left-l-top ">
                    <span>【咖啡豆糖果屋】于2012年涉足糖果业，以全国各个地区的糖果产品分销业务为发展起始，
                        经过数十年的发展，当下公司已成为一家专注于糖果行业分销业务的企业，
                        公司秉承专业、诚信对人的经营理念，以需求、专业、创新、分享为企业文化，
                        并以“优质糖果食品供应商”为企业定位。</span>
                </div>
                <div class="about-left-l-kb ">
                </div>
                <div class="about-left-l-top ">
                    <span>
                        于2012年涉足糖果业，以全国各个地区的糖果产品分销业务为发展起始，
                        经过数十年的发展，当下公司已成为一家专注于糖果行业分销业务的企业，
                        公司秉承专业、诚信对人的经营理念，以需求、专业、创新、分享为企业文化，
                        并以“优质糖果食品供应商”为企业定位。
                    </span>
                </div>
                <div class="about-left-l-kb ">
                </div>
                <div class="about-left-l-kb ">
                    <span>真诚期望能成为您的糖果之家！</span>
                </div>
            </div>
            <!-- 关于我们文字结束 -->
            <!-- 关于我们图片开始 -->
            <div class=" about-left-r col-lg-6 col-md-10 col-sm-12 col-xs-12">
                <img src="__IMG_PATH__about/cp4ss.jpg" alt="">
            </div>
            <!-- 关于我们图片开始 -->
            <!-- 维修师傅开始 -->
            <div class="about-wz  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wz-left col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="about-gywm col-lg-2 col-md-3 col-sm-3 col-xs-5">
                    <div class="about-gywm-wz  ">糖果之家</div>
                    <div class="about-gywm-Ab  ">The Pet House</div>
                </div>
                <div class="about-wz-right col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
            <!-- 维修师傅结束 -->
            <!-- 维修师傅介绍开始 -->
            <div class="about-wxsf col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/cp1.jpg" alt="">
                    </div>

                    <div class="about-wxsf-top ">
                        <span>清爽薄荷</span>
                        <!--<p>暖心</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/cp2.jpg" alt="">
                    </div>
                    <div class="about-wxsf-top ">
                        <span>日本香体</span>
                        <!--<p>可爱</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/cp3.jpg" alt="">
                    </div>
                    <div class="about-wxsf-top ">
                        <span>糖果Tiffany</span>
                        <!--<p>诱鼻</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class="about-wxsf-fist">
                            <img src="__IMG_PATH__about/cp4.jpg" alt="">
                        </div>
                        <div class="about-wxsf-top ">
                            <span>甜蜜接吻糖</span>
                            <!--<p>粘人</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file='public/footer' /}
<script src="__JS_PATH__about.js"></script>
<script src="__JS_PATH__com.js"></script>