{include file='public/header' title=$title/}
    <title>服务项目</title>
    <link rel="stylesheet" href="__CSS_PATH__fwxm.css">
    <!-- 头部的黑色边框结束 -->
    <!-- 大图片的开始 -->
    <div class="container">
        <div class="row">
            <div class="picture1 col-lg-12 col-md-12  col-sm-12 col-xs-12">
                <img src="__IMG_PATH__service/BannerTwo.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- 大图片的结束 -->
    <!-- 标题的开始 -->
    <div class="container">
        <div class="row">
            <div class="big-box">
                <div class="tittle-left col-lg-5 col-md-5 col-sm-5 col-xs-4">

                </div>
                <div class="tittle col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <span class="tiittle-cn">
                                    {$currnav.nname}
                                </span>
                    <span class="tittle-en">
                                    {$currnav.ename}
                                </span>
                </div>
                <div class="tittle-right col-lg-5 col-md-5 col-sm-5 col-xs-4">

                </div>
            </div>
        </div>
    </div>
    <!-- 标题的结束 -->
    <!-- 主体部分的开始 -->
    <div class="subject">
        <div class="container">
            <div class="row">
                <div class="frame animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/cp1.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>薄荷糖</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>采用美国最新的薄荷精华提取技术，融入放入糖果技术中，可以避免因为嚼口香糖而误吞。</span>
                    </div>
                </div>
                <div class="frame animate fadeInUp  col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    <img src="__IMG_PATH__service/cp2.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>日本香体糖</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>日本独家秘方，吃完之后可以使人便香。使人变的更加有吸引力</span>
                    </div>
                </div>
                <div class="frame  animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/cp3.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>薄荷硬糖</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>法国糖，号称“水果中的Tiffany”</span>
                    </div>

                </div>
                <div class="frame  animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/cp4.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>接吻糖</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>使你的另一半更加倾心于你</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体部分的结束 -->
{include file='public/footer' /}
<script src="__JS_PATH__com.js"></script>